<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Supervygile{% endblock %}</title>
        {% block stylesheets %}
			<!-- Bootstrap core CSS -->
			<link href="{{ absolute_url(asset('../assets/bootstrap/vendor/bootstrap/css/bootstrap.min.css')) }}" rel="stylesheet" type="text/css">
			<link href="{{ absolute_url(asset('../assets/bootstrap/vendor/font-awesome/css/font-awesome.min.css')) }}" rel="stylesheet" type="text/css">
			<link href="{{ absolute_url(asset('../assets/bootstrap/vendor/simple-line-icons/css/simple-line-icons.css')) }}" rel="stylesheet" type="text/css">
			
			
			<!-- Our CSS -->
			<link href="{{ absolute_url(asset('../assets/main.css')) }}" rel="stylesheet">
		
		{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
		
        {% block javascripts %}
			<!-- Bootstrap core JS -->
			 <script src="{{ absolute_url(asset('../assets/bootstrap/vendor/jquery/jquery.js')) }}"></script>
			 <script src="{{ absolute_url(asset('../assets/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js')) }}"></script>
			 
			 <script src="{{ absolute_url(asset('../assets/script.js')) }}"></script>
		{% endblock %}
    </body>
</html>
